.query-container {
  min-height: 3rem;
  min-width: 20vw;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.query-container > .criterium-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  margin: 1px;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.criterium-container {
  min-height: 3rem;
  background-color: #696b72;
  margin: 1px;
  /* align-self: flex-start; */
  width: 99%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.criterium {
  padding: 8px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.criteria-choice-container {
  margin: 3px 2px 1px 1px;
}

.condition-container {
    margin: 3px 2px 1px 1px;
}


.valueinput {
  flex-grow: 1;
  border: 0;
  margin: 1px 1px 1px 3px;
}


.remove-criterium-button {
  border: none;
  margin: 1px 1px 1px 3px;
  color: red;
}

.criteria-choice-container .add-condition-text {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
  cursor: pointer;
}


.query-container select{
  border: none;
}

.query-container input:not(.choices__input) {
  border: none;
  height: 2rem;
  margin: 1px;
  background-color: rgb(239, 239, 239);
  width: 50px;
}

.query-container .value-doubleinput > *{
  float: left;
}
.query-container .value-singleinput > *{
  float: left;
}

.query-container select:focus-visible, .query-container input:focus-visible { 
  outline: 0;
  box-shadow: none;
}

.query-container input:focus-visible {
  background-color: white;
}

.query-container .conditions-container {
  display: flex;
  flex-direction: column;
}

.conditions-container .condition-container {
  display: flex;
}
.conditions-link {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
}
.query-container .criteria-link {
  line-height: 2rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.textarea {
  display: block;
  overflow: hidden;
  color: black;
  background-color: white;
}