<!DOCTYPE text/html>
<html lang="fr">

    <head>
        <link rel="stylesheet" href="maker.css">
    </head>

    <body>
        <div id="board">
            <div class="column">
                <ul class="card-list">
                    <li class="card" draggable="true">Happy</li>
                    <li class="card" draggable="true">Grumpy</li>
                    <li class="card" draggable="true">Sleepy</li>
                    <li class="card" draggable="true">Doc</li>
                    <li class="card" draggable="true">Sneezy</li>
                    <li class="card" draggable="true">Dopey</li>
                </ul>
            </div>
            <div class="column">
                <ul class="card-list">
                    <li class="card" draggable="true">Bashful</li>
                </ul>
            </div>
            <div class="column">
                <ul class="card-list">
                </ul>
            </div>
            <div id="modalOverlay"></div>
        </div>
        <script src="maker.js"></script>

    </body>

</html>        